<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey Website</title>

</head>
<body>  
  <header>
    <h1>Welcome to our Survey Website</h1>
    <a href= "http://127.0.0.1:3000/survey">Click Here to fill</a>
  </header>
</body>
</html>
